.register {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.popup h1 {
    margin: 20px auto 0;
    font-weight: 500;
}

.popup {
    width: 100%;
    max-width: 500px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.popup input {
    width: 90%;
    height: 60px;
    border: 0;
    border-radius: 8px;
    padding: 0 10px 0 20px;
    outline: none;
    margin: 40px auto;
    font-size: 16px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.popup input::placeholder {
    font-size: 16px;
}

.sideMenu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.sideMenu button {
    width: 100px;
    height: 40px;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.sideMenu a {
    color: #405cf5;
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;
    margin: auto 0;
}

.sideMenu a:hover:before {
    width: 100%;
}

.sideMenu a:before {
    width: 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background: #405cf5;
    transition: .3s width;
}