@keyframes leftToRight {
    from {transform: translateX(-200px)}
    to {transform: translateX(0)}
}
@keyframes rightToLeft {
    from {transform: translateX(0)}
    to {transform: translateX(-200px)}
}

.hidden {
    display: none;
}

.goLeft {
    animation: rightToLeft .15s 1 linear;
    animation-fill-mode: forwards;
}
.goRight {
    animation: leftToRight .15s 1 linear;
    animation-fill-mode: forwards;
}

.lefted {
    transform: translateX(-200px);
}

.sideMenu {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
    /*height: calc(100% - 50px);*/
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    box-shadow: 10px 0 10px -10px darkgrey;

    z-index: 1000;
}

.sideMenu a {
    color: darkblue;
    position: relative;
    transition: .3s color linear;
}

.sideMenu a:hover {
    color: #405cf5;
}

html[data-theme='dark'] a {
    transition: .1s all linear;
    color: #D4FF9D;
}

html[data-theme='dark'] a:hover {
    color: #D4FF9D;
    text-shadow: #D4FF9D 1px 0 10px;
}

.sideMenu button {
    border-radius: 4px;
    border: 0;
    background: #405cf5;
    color: white;
    height: 30px;
    width: 75px;
}

html[data-theme='dark'] .sideMenu button {
    background: #8FD6E8;
    color: black;
}

.fetch {
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
