@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.hidden_fetch {
    display: none;
}

.hidden {
    display: none;
    align-items: center;
}

@keyframes moveUp {
    from {
        transform: translateY(-200px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes moveDown {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-200px)
    }
}

.up {
    animation: moveUp .15s 1 linear;
    animation-fill-mode: forwards;
}

.down {
    animation: moveDown .15s 1 linear;
    animation-fill-mode: forwards;
}

html[data-theme='dark'] header nav a {
    color: #D4FF9D;
    transition: .2s all linear;
}

html[data-theme='dark'] header input {
    background: #8FD6E8;
}
html[data-theme='dark'] header input::placeholder {
    color: black;
}

html[data-theme='dark'] header .input img {
    filter: invert(1);
}

html[data-theme='dark'] header nav a:after {
    background: #D4FF9D;
}

html[data-theme='dark'] header .sideMenuBtn {
    filter: invert(1);
}

.sideMenuBtn{
    width: 50px;
    height: 50px;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: .2s linear all;
}

html[data-theme='light'] header nav a {
    transition: .2s color linear;
}

/*https://i.ibb.co/Vq984gQ/menu-regular-24-1.png*/


header {
    height: 50px;
    display: flex;
    padding: 0 10px;
}

header nav {
    display: flex;
    width: 100%;
    font-size: 16px;
    font-family: Poppins, 'sans-serif';
    align-items: center;

}

header nav a {
    position: relative;
    margin: auto 20px auto 0;
}

header nav a:after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: darkblue;
    transition: .3s width, .3s background-color;
}

header nav a:hover:after {
    width: 100%;
    background: #405cf5;
}

header nav a:hover {
    color: #405cf5;
}

header img {
    height: 25px;
    margin: 10px;
}

header nav img {
    height: 25px;

}

.logo {
    margin-right: 20px;
}

header nav button {
    border-radius: 4px;
    border: 0;
    background: #405cf5;
    color: white;
    height: 30px;
    width: 75px;
    transition: .2s linear all;
}


.input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 30px;
    margin: auto 10px;
    border-radius: 4px;
    transition: .2s linear all;
}

.input_ {
    z-index: 1000;
    position: absolute;
    display: none;
    top: 70px;
    width: 100%;
    max-width: 250px;
    height: 30px;
    border-radius: 4px;
}

.input img, .input_ img {
    position: absolute;
    width: 16px;
    height: 16px;
}

.input input, .input_ input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    outline: none;
    border: 2px solid darkgray;
    padding: 0 30px;
    font-size: 14px;
    color: darkblue;
}

.userBtns {
    display: flex;
    align-items: center;
}

.userBtns img {
    margin: 5px;
}

.userImg {
    border-radius: 50%;
}

.sideMenuBtn {
    padding: 0;
    background: transparent;
    border: 0;
}

.sideMenuBtn:hover {
    cursor: pointer;
}

.fetch {
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}


@media (max-width: 940px) {
    header nav {
        font-size: 14px;
    }
}

@media (max-width: 910px) {
    header nav {
        display: none;
    }

    .input {
        margin-left: auto;
    }

}

@media (max-width: 480px) {
    .input_ {
        display: flex;
    }

    header .input {
        display: none;
    }

    .hidden {
        display: flex;
        margin-left: auto;
    }
}