.sideMenu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #e5e5e5;
    height: 100vh;
}
.text{
    display: flex;
    justify-content: space-between;
}
.text h1{
    font-size: 20px;
    color: midnightblue;
    font-family: 'Poppins', sans-serif;
}