*{
  margin: 0;
  box-sizing: border-box;
}

/*Dark Cyan (#03131A), Light Gray (#F8F8F8), Pastel Blue (#8FD6E8), Pastel Green (#D4FF9D)*/

html {
  transition: .2s linear background, .4s linear color;
}

html[data-theme="dark"]{
  background: #03131A;
}

html[data-theme='dark'] header {
  box-shadow: 0 2px 10px #8FD6E8;
}
html[data-theme='light'] header {
  box-shadow: 0 2px 10px darkgray;
}

html[data-theme='dark'] nav button{
  background: #8FD6E8;
  color: #03131A;
}

