.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 960px;

    min-height: calc(100vh - 60px);

    padding: 40px;
    margin: 0 auto;
}

.userImg {
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.userName {
    color: black;
    font-size: 24px;

    font-family: Roboto, Poppins, 'sans-serif';
    font-weight: bold;
}