.hidden {
    opacity: 0;
}

@keyframes opening {
    from {opacity: 0}
    to {opacity: 1}
}

.closed {
    animation: closing .15s 1 linear;
    animation-fill-mode: forwards;
}
.opened {
    animation: .15s opening;
}

@keyframes closing {
    from {opacity: 1}
    to {opacity: 0}
}
.version {
    color: darkgray;
    font-size: 12px;
}

.active {
    opacity: 1;
}

.modalProfile {
    opacity: 1;
    top: 60px;
    right: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px;

    width: 150px;
    border: 1px solid darkgray;
    border-radius: 4px;
    box-shadow: 0 2px 10px darkgray;

    gap: 5px;

    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1000;
}

.modalProfile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile {
    width: 100%;
    border-radius: 4px;
    border: 0;
    background: #405cf5;
    color: white;
    height: 30px;

    transition: .3s ease-in-out;
}

.logOut {
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    background: #fff;
    color: black;
    height: 30px;

    transition: .3s linear all;
}

.profile:hover {
    background: #8697f5;
    cursor: pointer;
}

.logOut:hover {
    background: red;
    cursor: pointer;
    border: 0;
}

.fetch {
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
