.Button1 {
    padding: 5px 10px;

    border: 4px solid darkgrey;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    transition: .2s ease-in-out;
}

.Button1:hover {
    cursor: pointer;
    transform: scale(1.1);

    border: 4px solid darkgreen;
    border-radius: 8px;
}


.Button2 {
    padding: 5px 10px;

    border: 4px solid darkgrey;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    transition: .2s ease-in-out;
}

.Button2:hover {
    cursor: pointer;
    transform: scale(1.1);

    border: 4px solid red;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    max-width: 960px;

    padding: 0;
    margin: auto auto 80px;
}