.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 16px;
}

.box{
    opacity: 0;
}

.container {
    margin: 0 10px 0 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #646464;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    padding: 2px;
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0 15px #2020203d;
    background: white url('https://i.ibb.co/3cqs7w5/sun-regular-24.png');
    background-repeat: no-repeat;
    background-position: center;
}

.Checked + .slider {
    background-color: #8FD6E8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}

.Checked + .slider:before {
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/V2qS3Td/moon-solid-24-1.png');
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}